.selectorChoice {
  color: blue;
  font: italic 1.2em "Arial";
  padding-top: 1rem;
  padding-bottom: 1rem
}

.selectorBlock {
  color: green;
  font: bold 2em "Arial";
  padding-top: 1rem;
  padding-bottom: 1rem
}

.selectorHeader {
  color: #008080;
  font: bold 0.8em "Arial";
  padding-top: 0.5rem;
  padding-bottom: 0.1rem
}

.selectorOption {
  color: #4F4F4F;
  font: bold 0.6em "Arial";
}

table {
  border-collapse: collapse;
  border: 1px solid darkmagenta;
  table-layout: fixed;
  width: 100%;
}

table caption {
  font: bold 1em "Arial";
  padding: 1rem 0rem 0.5rem 0rem;
}

table th {
  border: 1px solid darkmagenta;
  font: bold 0.8em "Arial";
  padding: 3px;
}

table td {
  border: 1px solid darkmagenta;
  font: 0.8em "Arial";
  padding: 3px 0px 3px 5px;
}

.colNumCode {
  text-align: center;
  width: 15%;
}

.colCharCode {
  text-align: center;
  width: 15%;
}

.colName {
  width: 55%;
}

.colValue {
  width: 15%;
}