.selectorChoice {
    color: blue;
    font: italic 1.2em "Arial";
    padding-top: 1rem;
    padding-bottom: 1rem
  }
  
  .selectorBlock {
    color: green;
    font: bold 2em "Arial";
    padding-top: 1rem;
    padding-bottom: 1rem
  }
  
  .selectorOption {
    color: #4F4F4F;
    font: bold 0.8em "Arial";
  }